header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: block;
    width: 15rem;
    height: 100%;
    background-color: $first;
    box-shadow: 0 5px 12px 1px rgba(32, 42, 64, 0.25);
    @include MQ(max-1024) {
        width: 100%;
        height: auto;
        box-shadow: none;
    }
}

.logo {
    display: block;
    background-color: $second;
    margin: 0;
    padding: 0;
    a {
        display: block;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        padding: 1.5rem 0;
        img {
            display: inline-block;
            vertical-align: middle;
            width: 2.25rem;
            margin-right: .25rem;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            font-family: 'Abril Fatface', cursive;
            font-size: 2rem;
            letter-spacing: 2px;
            margin-bottom: .25rem;
            b {
                display: block;
                line-height: 1.5;
                letter-spacing: 5px;
                font-family: 'Questrial','微軟正黑體', sans-serif;
                font-size: .675rem;
                font-weight: normal;
            }
        }
    }
    @include MQ(max-1024) {
        a {
            padding: .5rem 0;
            span {
                margin-bottom: 0;
            }
        }
    }
}

nav {
    padding: 1rem 0 3rem;
    > ul {
        display: block;
        li {
            display: block;
            a {
                display: block;
                font-size: 1rem;
                color: $second;
                @include text-overflow;
                padding: 1rem;
                b {
                    font-weight: normal;
                    padding: .25rem;
                }
                &:hover,
                &.active {
                    color: #FFF;
                    b {
                        background-color: $red;
                    }
                }
            }
            &:last-child {
                border-top: 1px solid rgba(0, 0, 0, .3);
            }
        }
    }
    @include MQ(max-1024) {
        position: fixed;
        top: 0;
        right: -15rem;
        z-index: 101;
        width: 15rem;
        height: 100%;
        background-color: $first;
        padding-top: 4rem;
        transition: right .3s ease;
        > ul {
            height: 100%;
            @include scrollbar(#FFF);
        }
        &.is-active {
            right: 0;
            box-shadow: 0 5px 12px 1px rgba(32, 42, 64, 0.25);
        }
    }
}

.nav-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    a {
        flex: 1;
        line-height: 3rem;
        text-align: center;
        font-size: 1rem;
        color: $second;
        transition: all .3s ease;
        &:hover {
            color: $first;
            background: $second;
        }
    }
}

.nav-btn {
    display: none;
    @include MQ(max-1024) {
        position: absolute;
        top: calc(50% - 2rem);
        right: 0;
        display: block;
        width: 4rem;
        height: 4rem;
        text-align: center;
        font-size: 1.5rem;
        color: $first;
        &::before {
            content: '\f0c9';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }
    }
}

.nav-close {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 1.5rem;
    color: $second;
    &::before {
        content: '\f057';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }
    @include MQ(max-1024) {
        display: block;
    }
}