// 清除浮動
.clearfix {
    @include clearfix;
}


// 全站設定
* {
    box-sizing: border-box;
    @include selection;
}

html,
body {
    margin: 0;
    padding: 0;
}

input, 
select, 
textarea, 
button, 
a {
    outline: none;
    font-family: 'Questrial','微軟正黑體', sans-serif;
}

a {
    text-decoration: none;
}

input, 
select, 
textarea, 
button {
    background-color: transparent;
    border: 0;
}

figure,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Questrial','微軟正黑體', sans-serif;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    @include scrollbar($first);
    padding-left: 15rem;
}

main {
    position: relative;
    padding: 2rem;
}