// 清除浮動
.clearfix {
    @include clearfix;
}


// 全站設定
* {
    box-sizing: border-box;
    @include selection;
}

html,
body {
    margin: 0;
    padding: 0;
}

input, 
select, 
textarea, 
button, 
a {
    outline: none;
    font-family: 'Questrial','微軟正黑體', sans-serif;
}

a {
    color: $href;
    text-decoration: none;
}

input, 
select, 
textarea, 
button {
    background-color: transparent;
    border: 0;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ul,
ol,
figure,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Questrial','微軟正黑體', sans-serif;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    @include scrollbar($first);
    scroll-behavior: smooth;
    padding-left: 15rem;
    animation-name: fadeIn;
    animation-duration: .5s;
    @include MQ(max-1024) {
        padding-left: 0;
    }
}

main {
    position: relative;
    min-height: calc(100vh - 3rem);
    padding: 2rem 2rem 6rem;
    @include MQ(max-1024) {
        padding: 5rem 1rem 4rem;
    }
}

.container-wrap {
    max-width: 60rem;
    background-color: #FFF;
    margin: 0 auto;
    padding: 1rem;
    > h1 {
        line-height: 1.5;
        font-size: 2.5rem;
        font-weight: bold;
        color: $first;
        margin-bottom: .5rem;
    }
}

.search-wrap {
    position: relative;
    margin-bottom: 1rem;
    &::after {
        content: '\f002';
        position: absolute;
        top: 0;
        right: 0;
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 1.25rem;
        color: #DDD;
    }
    input {
        display: block;
        width: 100%;
        height: 3rem;
        background-color: #FFF;
        border: 1px solid #CCC;
        border-radius: .25rem;
        padding-right: 4rem;
        padding-left: 1rem;
        @include placeholder(#DDD, #999);
        transition: all .3s;
        &:focus {
            border-color: $first;
        }
        &::-webkit-calendar-picker-indicator {
            display: none;
        }
    }
    datalist {
        option {
            width: 100%;
        }
    }
    button {
        position: absolute;
        top: 0;
        left: -3rem;
        z-index: 1;
        display: none;
        width: 3rem;
        height: 3rem;
        text-align: center;
        color: $second;
        &::before {
            content: '\f2ed';
            font-family: 'Font Awesome 5 Free';
            font-weight: 400;
        }
        &.is-active {
            display: block;
        }
    }
    @include MQ(max-1024) {
        button {
            left: -2rem;
            width: 2rem;
        }
    }
}

// animation
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// side
.side-bar {
    // position: sticky;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    // left: 100%;
    z-index: 5;
    display: block;
    width: 4rem;
    background-color: rgba(220, 220, 220, .3);
    border-radius: .25rem;
    box-shadow: 0 0 4px 0 rgba(246, 246, 246, .8);
    margin: 0;
    padding: .5rem;
    // transform: translateX(calc(100% + 1rem));
    button {
        display: block;
        width: 100%;
        height: 2.5rem;
        text-align: center;
        color: $first;
        background-color: #FFF;
        border-radius: .25rem;
        margin-bottom: .25rem;
        transition: all .3s;
        &::before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            color: $second;
            background-color: $first;
        }
        &#sideHome {
            &::before {
                content: '\f015';
            }
        }
        &#sideBack {
            &::before {
                content: '\f060';
            }
        }
        &#sideTop {
            &::before {
                content: '\f062';
            }
        }
    }
    @include MQ(max-1024) {
        display: none;
    }
}