// 清除浮動
.clearfix {
    @include clearfix;
}


// 全站設定
* {
    box-sizing: border-box;
    @include selection;
}

html,
body {
    margin: 0;
    padding: 0;
}

input, 
select, 
textarea, 
button, 
a {
    outline: none;
    font-family: 'Questrial','微軟正黑體', sans-serif;
}

a {
    text-decoration: none;
}

input, 
select, 
textarea, 
button {
    background-color: transparent;
    border: 0;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ul,
ol,
figure,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Questrial','微軟正黑體', sans-serif;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    @include scrollbar($first);
    padding-left: 15rem;
}

main {
    position: relative;
    min-height: calc(100vh - 3rem);
    padding: 2rem;
}

.container-wrap {
    max-width: 60rem;
    background-color: #FFF;
    margin: 0 auto;
    padding: 1rem;
}

.search-wrap {
    position: relative;
    margin-bottom: 1rem;
    &::after {
        content: '\f002';
        position: absolute;
        top: 0;
        right: 0;
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 1.25rem;
        color: #DDD;
    }
    input {
        display: block;
        width: 100%;
        height: 3rem;
        background-color: #FFF;
        border: 1px solid #CCC;
        border-radius: .25rem;
        padding-right: 4rem;
        padding-left: 1rem;
        @include placeholder(#DDD, #999);
        transition: all .3s;
        &:focus {
            border-color: $first;
        }
        &::-webkit-calendar-picker-indicator {
            display: none;
        }
    }
    datalist {
        option {
            width: 100%;
        }
    }
}