<!DOCTYPE html>
<html>
@@include("_head.html")
<body>
    <article id="wrap">
        @@include("_header.html", { "css": "active" })
        <main>
            <section class="container-wrap">
                <h1>CSS</h1>
                <div class="search-wrap">
                    <input id="searchInput" type="text" placeholder="Search..." list="data" v-model="query">
                    <datalist id="data">
                        <option value="CSS"></option>
                        <option value="CSS3"></option>
                        <option value="SCSS"></option>
                        <option value="SASS"></option>
                    </datalist>
                    <button id="cleanBtn" :class="{ 'is-active' : cleanActive}" @click="resetSearchInput"></button>
                </div>
                <div class="notes-wrap">
                    <ul class="notes-list">
                        <li class="notes-item" v-for="item in filterCss.reverse()" :key="item.id">
                            <a :href="'pages/' + item.href + '.html'">
                                <hgroup>
                                    <h6 class="notes-tags">
                                        <span v-if="item.tag1">{{ item.tag1_name }}</span>
                                        <span v-if="item.tag2">{{ item.tag2_name }}</span>
                                    </h6>
                                    <h2>{{ item.title }}</h2>
                                    <time class="notes-time">{{ item.time }}</time>
                                </hgroup>
                                <figure v-if="item.img">
                                    <img :src="'images/css/' + item.img_name + '.jpg'">
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
                @@include("_aside.html")
            </section>
        </main>
        @@include("_footer.html")
    </article>
    @@include("_js.html")
</body>
</html>