<!DOCTYPE html>
<html>
@@include("_head.html")
<body>
    <article id="wrap">
        @@include("_header.html", { "hike": "active" })
        <main>
            <section class="container-wrap">
                <h1>Hiking</h1>
                <div class="search-wrap">
                    <input id="searchInput" type="text" placeholder="Search..." list="data" v-model="query">
                    <datalist id="data">
                        <!-- <option value="網頁前端"></option> -->
                    </datalist>
                    <button id="cleanBtn" :class="{ 'is-active' : cleanActive}" @click="resetSearchInput"></button>
                </div>
                <div class="photo-wrap">
                    <div class="features-wrap">
                        <div class="filter-list">
                            <button :class="{ 'is-active': currentFilter === 'all' }" @click="setFilter('all')">全部</button>
                            <button :class="{ 'is-active': currentFilter === 'bm100' }" @click="setFilter('bm100')">百岳</button>
                            <button :class="{ 'is-active': currentFilter === 'sm100' }" @click="setFilter('sm100')">小百岳</button>
                            <button :class="{ 'is-active': currentFilter === 'trail' }" @click="setFilter('trail')">健行步道</button>
                            <button :class="{ 'is-active': currentFilter === 'others' }" @click="setFilter('others')">其他</button>
                        </div>
                    </div>
                    <div v-if="currentFilter === 'trail'">xxxxxxx</div>
                    <ul class="photo-list">
                        <li class="photo-item" v-if="currentFilter === item.catalog || currentFilter === 'all'" v-for="item in filterHik" :key="item.id">
                            <a :href="'pages/' + item.href + '.html'">
                                <figure>
                                    <img :src="'images/hiking/' + item.img_name + '.jpg'">
                                    <figcaption class="notes-tags">
                                        <span v-if="item.tag1" v-text="item.tag1_name"></span>
                                        <span v-if="item.tag2" v-text="item.tag2_name"></span>
                                    </figcaption>
                                </figure>
                                <hgroup>
                                    <time v-text="item.time"></time>
                                    <h2 v-text="item.title"></h2>
                                </hgroup>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        @@include("_footer.html")
    </article>
    @@include("_js.html")
</body>
</html>