<!DOCTYPE html>
<html>
@@include("_head.html")
<body>
    <article id="wrap">
        @@include("_header.html", { "hike": "active" })
        <main>
            <section class="container-wrap">
                <h1>Hiking</h1>
                <div class="search-wrap">
                    <input id="searchInput" type="text" placeholder="Search..." list="data" v-model="query">
                    <datalist id="data">
                        <!-- <option value="網頁前端"></option> -->
                    </datalist>
                    <button id="cleanBtn" :class="{ 'is-active' : cleanActive}" @click="resetSearchInput"></button>
                </div>
                <div class="photo-wrap">
                    <div class="features-wrap">
                        <div class="filter-list">
                            <button :class="{ 'is-active': currentFilter === 'all' }" @click="setFilter('all')">全部</button>
                            <button :class="{ 'is-active': currentFilter === 'bm100' }" @click="setFilter('bm100')">百岳</button>
                            <button :class="{ 'is-active': currentFilter === 'sm100' }" @click="setFilter('sm100')">小百岳</button>
                            <button :class="{ 'is-active': currentFilter === 'mm' }" @click="setFilter('mm')">中級山</button>
                            <button :class="{ 'is-active': currentFilter === 'trail' }" @click="setFilter('trail')">郊山</button>
                            <button :class="{ 'is-active': currentFilter === 'others' }" @click="setFilter('others')">其他</button>
                        </div>
                    </div>
                    <div class="photo-tips">
                        <p v-if="currentFilter === 'bm100'">百岳是指從台灣２５８座海拔超過３０００公尺的高山中，挑選出符合既定門檻的一百座高山。</p>
                        <p v-if="currentFilter === 'sm100'">小百岳是行政院體育委員會為推廣全民登山運動，自各縣市遴選一百座平易近人的郊山，鼓勵民眾多多親近山林，享受自然。</p>
                        <p v-if="currentFilter === 'mm'">中級山介於郊山與高山之間，大多泛指那些高度約一千初到三千公尺的深山，有些中級山難度甚至還比百岳困難。</p>
                        <p v-if="currentFilter === 'trail'">除了高山與中級山之外的山基本皆可稱作郊山，通常距離都市不遠，易達性高，挑戰難度低。</p>
                    </div>
                    <ul class="photo-list">
                        <li class="photo-item" v-if="currentFilter === item.catalog || currentFilter === 'all'" v-for="item in filterHik" :key="item.id">
                            <a :href="'pages/' + item.href + '.html'">
                                <figure>
                                    <img :src="'images/hiking/' + item.img_name + '.jpg'">
                                    <figcaption v-text="item.name"></figcaption>
                                </figure>
                                <hgroup>
                                    <!-- <time v-text="item.time"></time> -->
                                    <h2 v-text="item.s_title"></h2>
                                    <h3 v-text="item.title"></h3>
                                </hgroup>
                                <div>
                                    <time v-text="item.time"></time>
                                    <span v-if="item.tag" v-text="item.tag_name"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        @@include("_footer.html")
    </article>
    @@include("_js.html")
</body>
</html>