<!DOCTYPE html>
<html>
@@include("_head.html")
<body>
    <article id="wrap">
        @@include("_header.html", { "index": "active" })
        <main>
            <div class="index-wrap">
                <section>
                    <h2>LASTEST</h2>
                    <div class="notes-wrap">
                        <ul class="notes-list">
                            <li class="notes-item">
                                <a :href="'pages/' + getHtmlIndex({ h_list, index: 4 }).href + '.html'">
                                    <hgroup>
                                        <h2>{{ getHtmlIndex({ h_list, index: 4 }).title }}</h2>
                                        <time class="notes-time">{{ getHtmlIndex({ h_list, index: 4 }).time }}</time>
                                    </hgroup>
                                    <figure v-if="getHtmlIndex({ h_list, index: 4 }).img">
                                        <img :src="'images/html/' + getHtmlIndex({ h_list, index: 4 }).img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                            <li class="notes-item">
                                <a :href="'pages/' + getMiscIndex({ m_list, index: 7 }).href + '.html'">
                                    <hgroup>
                                        <h2>{{ getMiscIndex({ m_list, index: 7 }).title }}</h2>
                                        <time class="notes-time">{{ getMiscIndex({ m_list, index: 7 }).time }}</time>
                                    </hgroup>
                                    <figure v-if="getMiscIndex({ m_list, index: 7 }).img">
                                        <img :src="'images/html/' + getMiscIndex({ m_list, index: 7 }).img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </main>
        @@include("_footer.html")
    </article>
    @@include("_js.html")
</body>
</html>