<!DOCTYPE html>
<html>
@@include("_head.html")
<body>
    <article id="wrap">
        @@include("_header.html", { "index": "active" })
        <main>
            <div class="index-wrap">
                <h1>LASTEST</h2>
                <!-- HTML -->
                <section>
                    <h2>
                        <span>HTML</span>
                        <a href="html.html">MORE</a>
                    </h2>
                    <div class="notes-wrap">
                        <ul class="notes-list">
                            <li class="notes-item">
                                <a :href="'pages/' + getHtmlIndex({ h_list, index: h_list.length - 1 }).href + '.html'">
                                    <hgroup>
                                        <h6 class="notes-tags">
                                            <span v-if="getHtmlIndex({ h_list, index: h_list.length - 1 }).tag1">{{ getHtmlIndex({ h_list, index: h_list.length - 1 }).tag1_name }}</span>
                                            <span v-if="getHtmlIndex({ h_list, index: h_list.length - 1 }).tag2">{{ getHtmlIndex({ h_list, index: h_list.length - 1 }).tag2_name }}</span>
                                        </h6>
                                        <h2>{{ getHtmlIndex({ h_list, index: h_list.length - 1 }).title }}</h2>
                                        <time class="notes-time">{{ getHtmlIndex({ h_list, index: h_list.length - 1 }).time }}</time>
                                    </hgroup>
                                    <figure v-if="getHtmlIndex({ h_list, index: h_list.length - 1 }).img">
                                        <img :src="'images/html/' + getHtmlIndex({ h_list, index: h_list.length - 1 }).img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                            <li class="notes-item">
                                <a :href="'pages/' + getHtmlIndex({ h_list, index: h_list.length - 2 }).href + '.html'">
                                    <hgroup>
                                        <h6 class="notes-tags">
                                            <span v-if="getHtmlIndex({ h_list, index: h_list.length - 2 }).tag1">{{ getHtmlIndex({ h_list, index: h_list.length - 2 }).tag1_name }}</span>
                                            <span v-if="getHtmlIndex({ h_list, index: h_list.length - 2 }).tag2">{{ getHtmlIndex({ h_list, index: h_list.length - 2 }).tag2_name }}</span>
                                        </h6>
                                        <h2>{{ getHtmlIndex({ h_list, index: h_list.length - 2 }).title }}</h2>
                                        <time class="notes-time">{{ getHtmlIndex({ h_list, index: h_list.length - 2 }).time }}</time>
                                    </hgroup>
                                    <figure v-if="getHtmlIndex({ h_list, index: h_list.length - 2 }).img">
                                        <img :src="'images/html/' + getHtmlIndex({ h_list, index: h_list.length - 2 }).img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                            <li class="notes-item">
                                <a :href="'pages/' + getHtmlIndex({ h_list, index: h_list.length - 3 }).href + '.html'">
                                    <hgroup>
                                        <h6 class="notes-tags">
                                            <span v-if="getHtmlIndex({ h_list, index: h_list.length - 3 }).tag1">{{ getHtmlIndex({ h_list, index: h_list.length - 3 }).tag1_name }}</span>
                                            <span v-if="getHtmlIndex({ h_list, index: h_list.length - 3 }).tag2">{{ getHtmlIndex({ h_list, index: h_list.length - 3 }).tag2_name }}</span>
                                        </h6>
                                        <h2>{{ getHtmlIndex({ h_list, index: h_list.length - 3 }).title }}</h2>
                                        <time class="notes-time">{{ getHtmlIndex({ h_list, index: h_list.length - 3 }).time }}</time>
                                    </hgroup>
                                    <figure v-if="getHtmlIndex({ h_list, index: h_list.length - 3 }).img">
                                        <img :src="'images/html/' + getHtmlIndex({ h_list, index: h_list.length - 3 }).img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- CSS -->
                <section>
                    <h2>
                        <span>CSS</span>
                        <a href="css.html">MORE</a>
                    </h2>
                    <div class="notes-wrap">
                        <ul class="notes-list">
                            <li class="notes-item">
                                <a :href="'pages/' + getCssIndex({ c_list, index: c_list.length - 1 }).href + '.html'">
                                    <hgroup>
                                        <h6 class="notes-tags">
                                            <span v-if="getCssIndex({ c_list, index: c_list.length - 1 }).tag1">{{ getCssIndex({ c_list, index: c_list.length - 1 }).tag1_name }}</span>
                                            <span v-if="getCssIndex({ c_list, index: c_list.length - 1 }).tag2">{{ getCssIndex({ c_list, index: c_list.length - 1 }).tag2_name }}</span>
                                        </h6>
                                        <h2>{{ getCssIndex({ c_list, index: c_list.length - 1 }).title }}</h2>
                                        <time class="notes-time">{{ getCssIndex({ c_list, index: c_list.length - 1 }).time }}</time>
                                    </hgroup>
                                    <figure v-if="getCssIndex({ c_list, index: c_list.length - 1 }).img">
                                        <img :src="'images/css/' + getCssIndex({ c_list, index: c_list.length - 1 }).img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                            <li class="notes-item">
                                <a :href="'pages/' + getCssIndex({ c_list, index: c_list.length - 2 }).href + '.html'">
                                    <hgroup>
                                        <h6 class="notes-tags">
                                            <span v-if="getCssIndex({ c_list, index: c_list.length - 2 }).tag1">{{ getCssIndex({ c_list, index: c_list.length - 2 }).tag1_name }}</span>
                                            <span v-if="getCssIndex({ c_list, index: c_list.length - 2 }).tag2">{{ getCssIndex({ c_list, index: c_list.length - 2 }).tag2_name }}</span>
                                        </h6>
                                        <h2>{{ getCssIndex({ c_list, index: c_list.length - 2 }).title }}</h2>
                                        <time class="notes-time">{{ getCssIndex({ c_list, index: c_list.length - 2 }).time }}</time>
                                    </hgroup>
                                    <figure v-if="getCssIndex({ c_list, index: c_list.length - 2 }).img">
                                        <img :src="'images/css/' + getCssIndex({ c_list, index: c_list.length - 2 }).img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                            <li class="notes-item">
                                <a :href="'pages/' + getCssIndex({ c_list, index: c_list.length - 3 }).href + '.html'">
                                    <hgroup>
                                        <h6 class="notes-tags">
                                            <span v-if="getCssIndex({ c_list, index: c_list.length - 3 }).tag1">{{ getCssIndex({ c_list, index: c_list.length - 3 }).tag1_name }}</span>
                                            <span v-if="getCssIndex({ c_list, index: c_list.length - 3 }).tag2">{{ getCssIndex({ c_list, index: c_list.length - 3 }).tag2_name }}</span>
                                        </h6>
                                        <h2>{{ getCssIndex({ c_list, index: c_list.length - 3 }).title }}</h2>
                                        <time class="notes-time">{{ getCssIndex({ c_list, index: c_list.length - 3 }).time }}</time>
                                    </hgroup>
                                    <figure v-if="getCssIndex({ c_list, index: c_list.length - 3 }).img">
                                        <img :src="'images/css/' + getCssIndex({ c_list, index: c_list.length - 3 }).img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- MISC -->
                <section>
                    <h2>
                        <span>Miscellaneous Notes</span>
                        <a href="misc.html">MORE</a>
                    </h2>
                    <div class="notes-wrap">
                        <ul class="notes-list">
                            <li class="notes-item">
                                <a :href="'pages/' + getMiscIndex({ m_list, index: m_list.length - 1 }).href + '.html'">
                                    <hgroup>
                                        <h6 class="notes-tags">
                                            <span v-if="getMiscIndex({ m_list, index: m_list.length - 1 }).tag1">{{ getMiscIndex({ m_list, index: m_list.length - 1 }).tag1_name }}</span>
                                            <span v-if="getMiscIndex({ m_list, index: m_list.length - 1 }).tag2">{{ getMiscIndex({ m_list, index: m_list.length - 1 }).tag2_name }}</span>
                                        </h6>
                                        <h2>{{ getMiscIndex({ m_list, index: m_list.length - 1 }).title }}</h2>
                                        <time class="notes-time">{{ getMiscIndex({ m_list, index: m_list.length - 1 }).time }}</time>
                                    </hgroup>
                                    <figure v-if="getMiscIndex({ m_list, index: m_list.length - 1 }).img">
                                        <img :src="'images/misc/' + getMiscIndex({ m_list, index: m_list.length - 1 }).img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                            <li class="notes-item">
                                <a :href="'pages/' + getMiscIndex({ m_list, index: m_list.length - 2 }).href + '.html'">
                                    <hgroup>
                                        <h6 class="notes-tags">
                                            <span v-if="getMiscIndex({ m_list, index: m_list.length - 2 }).tag1">{{ getMiscIndex({ m_list, index: m_list.length - 2 }).tag1_name }}</span>
                                            <span v-if="getMiscIndex({ m_list, index: m_list.length - 2 }).tag2">{{ getMiscIndex({ m_list, index: m_list.length - 2 }).tag2_name }}</span>
                                        </h6>
                                        <h2>{{ getMiscIndex({ m_list, index: m_list.length - 2 }).title }}</h2>
                                        <time class="notes-time">{{ getMiscIndex({ m_list, index: m_list.length - 2 }).time }}</time>
                                    </hgroup>
                                    <figure v-if="getMiscIndex({ m_list, index: m_list.length - 2 }).img">
                                        <img :src="'images/misc/' + getMiscIndex({ m_list, index: m_list.length - 2 }).img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                            <li class="notes-item">
                                <a :href="'pages/' + getMiscIndex({ m_list, index: m_list.length - 3 }).href + '.html'">
                                    <hgroup>
                                        <h6 class="notes-tags">
                                            <span v-if="getMiscIndex({ m_list, index: m_list.length - 3 }).tag1">{{ getMiscIndex({ m_list, index: m_list.length - 3 }).tag1_name }}</span>
                                            <span v-if="getMiscIndex({ m_list, index: m_list.length - 3 }).tag2">{{ getMiscIndex({ m_list, index: m_list.length - 3 }).tag2_name }}</span>
                                        </h6>
                                        <h2>{{ getMiscIndex({ m_list, index: m_list.length - 3 }).title }}</h2>
                                        <time class="notes-time">{{ getMiscIndex({ m_list, index: m_list.length - 3 }).time }}</time>
                                    </hgroup>
                                    <figure v-if="getMiscIndex({ m_list, index: m_list.length - 3 }).img">
                                        <img :src="'images/misc/' + getMiscIndex({ m_list, index: m_list.length - 3 }).img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </main>
        @@include("_footer.html")
    </article>
    @@include("_js.html")
</body>
</html>