<!DOCTYPE html>
<html class="index">
@@include("_head.html")
<body>
    <article id="wrap">
        @@include("_header.html", { "index": "active" })
        <main>
            <div class="index-wrap">
                <h2>LASTEST</h2>
                <!-- HTML -->
                <section>
                    <h3>
                        <span>HTML</span>
                        <a href="html.html">MORE</a>
                    </h3>
                    <div class="notes-wrap">
                        <ul class="notes-list">
                            <li class="notes-item" v-for="item in h_list.slice(0, 3)">
                                <a :href="'pages/' + item.href + '.html'">
                                    <hgroup>
                                        <h6 class="notes-tags">
                                            <span v-if="item.tag1" v-text="item.tag1_name"></span>
                                            <span v-if="item.tag2" v-text="item.tag2_name"></span>
                                        </h6>
                                        <h2 v-text="item.title"></h2>
                                        <time class="notes-time" v-text="item.time"></time>
                                    </hgroup>
                                    <figure v-if="item.img">
                                        <img :src="'images/html/' + item.img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- CSS -->
                <section>
                    <h3>
                        <span>CSS</span>
                        <a href="css.html">MORE</a>
                    </h3>
                    <div class="notes-wrap">
                        <ul class="notes-list">
                            <li class="notes-item" v-for="item in c_list.slice(0, 3)">
                                <a :href="'pages/' + item.href + '.html'">
                                    <hgroup>
                                        <h6 class="notes-tags">
                                            <span v-if="item.tag1" v-text="item.tag1_name"></span>
                                            <span v-if="item.tag2" v-text="item.tag2_name"></span>
                                        </h6>
                                        <h2 v-text="item.title"></h2>
                                        <time class="notes-time" v-text="item.time"></time>
                                    </hgroup>
                                    <figure v-if="item.img">
                                        <img :src="'images/css/' + item.img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- JavaScript -->
                <section>
                    <h3>
                        <span>JavaScript</span>
                        <a href="javascript.html">MORE</a>
                    </h3>
                    <div class="notes-wrap">
                        <ul class="notes-list">
                            <li class="notes-item" v-for="item in j_list.slice(0, 3)">
                                <a :href="'pages/' + item.href + '.html'">
                                    <hgroup>
                                        <h6 class="notes-tags">
                                            <span v-if="item.tag1" v-text="item.tag1_name"></span>
                                            <span v-if="item.tag2" v-text="item.tag2_name"></span>
                                        </h6>
                                        <h2 v-text="item.title"></h2>
                                        <time class="notes-time" v-text="item.time"></time>
                                    </hgroup>
                                    <figure v-if="item.img">
                                        <img :src="'images/js/' + item.img_name + '.jpg'">
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- Hiking -->
                <h2>Hiking</h2>
                <section>
                    <ul class="photo-list">
                        <li class="photo-item" v-for="item in hk_list.slice(0, 6)" :key="item.id">
                            <a :href="'pages/' + item.href + '.html'">
                                <figure>
                                    <img :src="'images/hiking/' + item.img_name + '/cover.jpg'">
                                    <figcaption v-text="item.name"></figcaption>
                                </figure>
                                <hgroup>
                                    <!-- <time v-text="item.time"></time> -->
                                    <h2 v-text="item.s_title"></h2>
                                    <h3 v-text="item.title"></h3>
                                </hgroup>
                            </a>
                        </li>
                    </ul>
                </section>
                
            </div>
        </main>
        @@include("_footer.html")
    </article>
    @@include("_js.html")
</body>
</html>