<!DOCTYPE html>
<html>
@@include("_head.html")
<body>
    <article id="wrap">
        @@include("_header.html", { "html": "active" })
        <main>
            <section class="container-wrap">
                <div class="search-wrap">
                    <input type="text" placeholder="Search..." list="data" v-model="query">
                    <datalist id="data">
                        <option value="網頁前端">
                        <option value="svg">
                    </datalist>
                </div>
                <div class="res-wrap">
                    <div class="res-switch">
                        <button class="is-grid" :class="isActive==1 ? 'is-active' : ''" @click="isActive=1"></button>
                        <button class="is-row" :class="isActive==2 ? 'is-active' : ''" @click="isActive=2"></button>
                    </div>
                    <ul class="res-list" :class="isActive==2 ? 'is-row' : ''">
                        <li class="res-item" v-for="item in filterRes" :key="item.id">
                            <a :href="item.href" target="_blank">
                                <figure>
                                    <img :src="'images/resources/' + item.img_name + '.jpg'" v-if="item.img">
                                    <img :src="'images/resources/default.png'" v-else>
                                </figure>
                                <hgroup>
                                    <h2>{{ item.title }}</h2>
                                    <h3>{{ item.desc }}</h3>
                                    <span>{{ item.tag }}</span>
                                </hgroup>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        @@include("_footer.html")
    </article>
    @@include("_js.html")
</body>
</html>