.index-wrap {
    max-width: 60rem;
    margin: 0 auto;
    padding-top: 3rem;
    section {
        margin-bottom: 10rem;
        > h2 {
            display: block;
            text-align: center;
            font-size: 3rem;
            color: $first;
            margin-bottom: 2rem;
        }
    }
}