.index-wrap {
    max-width: 60rem;
    margin: 0 auto;
    padding-top: 3rem;
    > h1 {
        display: block;
        font-weight: bold;
        font-size: 3rem;
        color: $first;
        margin-bottom: 6rem;
    }
    section {
        margin-bottom: 4rem;
        > h2 {
            display: block;
            line-height: 2rem;
            @include clearfix;
            span {
                font-size: 1rem;
                color: #FFF;
                background-color: $second;
                padding: 0 .75rem;
                float: left;
            }
            a {
                font-size: .875rem;
                color: $first;
                float: right;
                transition: color .3s;
                &:hover {
                    color: $second;
                }
            }
        }
    }
    @include MQ(max-1024) {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}