// 筆記列表
.notes-wrap {}

.notes-list {
    list-style: none;
    margin: 0;
    padding: 1rem 0;
}

.notes-item {
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
    transition: all .3s ease;
    a {
        display: flex;
        align-items: center;
        width: 100%;
        padding: .5rem;
        hgroup {
            flex: 1;
            color: #888;
            h2 {
                line-height: 1.75;
                font-size: 1.5rem;
                color: #000;
                margin: 0;
                padding: 0;
                @include text-overflow;
                transition: all .3s ease;
            }
        }
        figure {
            width: 16%;
            padding: 0 2% 0 6%;
            img {
                display: block;
                width: 100%;
                border-radius: .25rem;
            }
        }
    }
    &:hover {
        transform: scale(1.1, 1.1);
        hgroup {
            h2 {
                color: $first;
            }
        }
    }
}

.notes-tags {
    line-height: .875rem;
    font-size: .875rem;
    color: #AAA;
    @include clearfix;
    span {
        &::before {
            content: '[';
        }
        &::after {
            content: ']';
        }
    }
}

.notes-time {
    display: inline-block;
    font-size: .675rem;
    &::before {
        content: 'published @ ';
    }
    .page & {
        float: right;
    }
}