// 筆記列表
.notes-wrap {}

.notes-list {
    list-style: none;
    margin: 0;
    padding: 1rem 0;
}

.notes-item {
    background-color: #FFF;
    transition: all .3s ease;
    a {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #EEE;
        padding: 1rem .5rem;
        hgroup {
            // width: calc(100% - 8.5rem);
            flex: 1;
            min-width: 0;  // 使 text-overflow 不會因為 flex 失效
            color: #888;
            h2 {
                display: block;
                line-height: 1.75;
                font-size: 1.5rem;
                color: #000;
                margin: 0;
                padding: 0;
                @include text-overflow;
                transition: all .3s ease;
            }
        }
        figure {
            flex: 1;
            max-width: 8.5rem;
            padding: 0 1rem 0 3rem;
            img {
                display: block;
                width: 100%;
                border-radius: .25rem;
            }
        }
    }
    &:hover {
        transform: scale(1.1, 1.1);
        a {
            border-top: 1px solid #EEE;
            hgroup {
                h2 {
                    color: $first;
                }
            }
        }
    }
    @include MQ(max-1280) {
        a {
            figure {
                padding-right: 0;
            }
        }
    }
}

.notes-tags {
    line-height: .875rem;
    font-size: .75rem;
    color: #AAA;
    @include clearfix;
    span {
        &::before {
            content: '#';
        }
    }
}

.notes-time {
    display: inline-block;
    font-size: .675rem;
    &::before {
        content: 'published @ ';
    }
    .page & {
        float: right;
    }
}