// 筆記列表
.notes-wrap {
    padding-bottom: 6rem;
    .index & {
        padding-bottom: 0;
    }
}

.notes-list {
    list-style: none;
    margin: 0;
    padding: 1rem 0;
    &.is-jsp {
        @include clearfix;
    }
    .index & {
        padding: 0;
    }
    &:hover {
        .notes-item {
            a {
                figure {
                    filter: grayscale(1);
                }
            }
        }
    }
}

.notes-item {
    background-color: #FFF;
    transition: all .3s ease;
    a {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #EEE;
        padding: 1rem .5rem;
        hgroup {
            // width: calc(100% - 8.5rem);
            flex: 1;
            min-width: 0;  // 使 text-overflow 不會因為 flex 失效
            color: #888;
            h2 {
                display: block;
                line-height: 1.75;
                font-size: 1.5rem;
                color: #000;
                margin: 0;
                padding: 0;
                @include text-overflow;
                transition: all .3s ease;
            }
        }
        figure {
            flex: 1;
            max-width: 8.5rem;
            margin-bottom: 0.5rem;
            padding: 0 1rem 0 3rem;
            transition: all .3s ease;
            img {
                display: block;
                width: 100%;
                border-radius: .25rem;
            }
        }
    }
    .is-jsp & {
        width: calc(25% - 12px);
        margin-right: 1rem;
        margin-bottom: 1.5rem;
        float: left;
        a {
            display: block;
            border-bottom: 0;
            padding: 0;
            hgroup {
                h2 {
                    font-size: 1rem;
                }
            }
            figure {
                max-width: none;
                background-color: #40a8c5;
                border-radius: 0.5rem;
                padding: 0;
                overflow: hidden;
                img {
                    border-radius: 0;
                    transform: scale(.8, .8);
                    transition: transform .3s;
                }
            }
        }
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
    &:hover {
        transform: scale(1.1, 1.1);
        a {
            border-top: 1px solid #EEE;
            hgroup {
                h2 {
                    color: $first;
                }
            }
        }
        .is-jsp & {
            // transform: scale(1, 1);
            a {
                border-top: 0;
                figure {
                    filter: grayscale(0) !important;
                    img {
                        transform: scale(1, 1);
                    }
                }
            }
        }
    }
    @include MQ(max-1280) {
        a {
            figure {
                padding-right: 0;
            }
        }
        .is-jsp & {
            width: calc(33.33% - (32px / 3));
            &:nth-child(4n) {
                margin-right: 16px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    @include MQ(max-768) {
        a {
            hgroup {
                h2 {
                    font-size: 1.25rem;
                }
            }
        }
        .is-jsp & {
            width: calc(50% - 8px);
            &:nth-child(3n) {
                margin-right: 16px;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
    @include MQ(max-480) {
        a {
            hgroup {
                h2 {
                    font-size: 1.125rem;
                }
            }
        }
        .is-jsp & {
            width: 100%;
            margin-right: 0;
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}

.notes-tags {
    line-height: .875rem;
    font-size: .75rem;
    color: $first;
    @include clearfix;
    span {
        &::before {
            content: '#';
        }
    }
    .is-jsp & {
        color: #aaa;
    }
}

.notes-time {
    display: inline-block;
    font-size: .675rem;
    &::before {
        content: 'published @ ';
    }
    .page & {
        float: right;
    }
}