// 文章風格
.text-wrap {
    max-width: 60rem;
    background-color: #FFF;
    margin: 0 auto;
    padding: 1rem;
}

.text-head {
    border-bottom: 1px solid $first;
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    h1 {
        display: block;
        line-height: 1.5;
        font-size: 2rem;
        font-weight: normal;
        word-wrap: break-word;
    }
}

// list
.text-list {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: block;
    width: 50%;
    height: 100%;
    background-color: $first;
    box-shadow: 2px 0 14px 0px rgba(0, 0, 0, .2);
    padding-top: 4rem;
    transform: translateX(-100%);
    transition: transform .3s;
    &::before {
        content: 'Article List';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        line-height: 2;
        font-size: 1.5rem;
        font-weight: 700;
        color: #FFF;
        padding: .5rem 0 .5rem 2rem;
        box-sizing: border-box;
    }
    ul {
        display: block;
        height: 100%;
        @include scrollbar(#FFF);
    }
    li {
        display: block;
        a {
            display: block;
            width: 100%;
            line-height: 1.75;
            font-size: 1rem;
            color: $second;
            padding: .5rem 1rem .5rem 2rem;
            @include text-overflow;
            transition: padding .3s;
            &:hover {
                padding-left: 3rem;
            }
        }
    }
    &.is-active {
        transform: translateX(0%);
    }
}

.text-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 1.5rem;
    color: #FFF;
    &::before {
        content: "\f00d";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }
}


// 目錄
.text-catalog {
    margin-bottom: 5rem;
    &::before {
        content: 'Chapter Catalog：';
        line-height: 2;
        font-size: 1.5rem;
        font-weight: 700;
        color: $red;
        // text-transform: uppercase;
    }
    > ul {
        list-style: none;
        border: 1px dashed $second;
        padding: 1rem;
        li {
            line-height: 1.5;
            padding: .25rem 0;
            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: .25rem;
                height: .25rem;
                background-color: $red;
                margin-right: .5rem;
                margin-bottom: .25rem;
            }
            a {
                display: inline-block;
                vertical-align: middle;
                font-size: 1rem;
                color: #000;
                transition: all .3s;
                &:hover {
                    color: $first;
                }
            }
        }
    }
    &.is-popup {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 101;
        display: block;
        width: 100%;
        max-width: 30rem;
        height: 100%;
        background-color: #111;
        box-shadow: 2px 0 14px 0px rgba(0, 0, 0, .4);
        animation-name: catalogMove;
        animation-duration: .3s;
        animation-fill-mode: farword;
        &::before {
            content: 'Chapter Catalog';
            display: block;
            width: 100%;
            text-align: left;
            color: $first;
            padding: .5rem 0 .5rem 2rem;
            box-sizing: border-box;
        }
        > ul {
            height: calc(100% - 4rem);
            border: 0;
            padding: 0 2rem;
            @include scrollbar();
            li {
                padding: .5rem 0;
                &::before {
                    background-color: $red;
                }
                a {
                    font-size: 1rem;
                    color: #fff;
                    &:hover {
                        color: $first;
                    }
                }
            }
        }
    }
}

@keyframes catalogMove {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

// 格式
.text-content {
    counter-reset: number;
    padding-bottom: 6rem;

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        margin-top: 2rem;
        margin-bottom: .5rem;
        padding: .5rem 0;
        &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: .5rem;
            height: .5rem;
            background-color: $red;
            margin-right: .5rem;
            margin-bottom: .25rem;
        }
    }

    h3 {
        line-height: 1.5;
        font-size: 1rem;
        color: #FFF;
        background-color: $second;
        margin-bottom: .5rem;
        padding: .5rem 1rem;
    }

    h4 {
        line-height: 1.5;
        font-weight: 900;
        font-size: 1.125rem;
        color: #000;
        padding: .5rem 0;
    }

    p {
        line-height: 2;
        font-size: 1rem;
        padding: .5rem 0;
        a {
            color: $href;
            text-decoration: underline;
        }
    }

    em {
        font-size: 1rem;
        font-style: normal;
        color: #CF5341;
        background-color: #f9f2f4;
        border-radius: 4px;
        padding: 0 .25rem;
    }

    figure {
        margin-bottom: 1rem;
        img {
            display: block;
            max-width: 100%;
            border: 1px solid #DDD;
        }
    }

    figcaption {
        line-height: 1.5;
        font-size: .875rem;
        padding: .25rem 0;
        &::before {
            content: '▲';
            font-size: 80%;
            margin-right: .25rem;
        }
        a {
            color: $href;
            text-decoration: underline;
        }
    }
}

// 表格
.text-flex {
    border-bottom: 1px solid #F6F6F6;
    margin-bottom: 1rem;
    > div {
        display: flex;
        line-height: 2;
        > div {
            padding: .5rem 1rem;
            &:nth-child(odd) {
                background-color: #F6F6F6;
            }
            &:first-child {
                // background-color: #FFF !important;
                border-right: 1px solid #F6F6F6;
            }
        }
        &.f-head {
            position: relative;
            color: $second;
            border-left: .25rem solid $second;
            margin-top: 1rem;
            padding: 0 1rem;
        }
        &.f-title {
            > div {
                color: #FFF;
                background-color: $first;
                &:first-child {
                    color: $second;
                    background-color: #FCFCFC !important;
                }
            }
        }
    }
}

.t-f0 {
    width: 120px;
}

@for $num from 1 through 9 {
    .t-f#{$num} {
        @include word-wrap;
        flex: $num;
    }
}

// 引用
.text-quote {
    background-color: #EEE;
    margin-bottom: 1rem;
    padding: 1rem;
}

// 列表
.text-ul {
    ul {
        list-style-type: square;
    }
}

// 參考
.text-refer {
    margin-top: 6rem;
    &::before {
        content: 'References：';
        display: block;
        line-height: 2;
        font-size: 1.25rem;
    }
    ul {
        list-style-position: inside;
        background-color: #F6F6F6;
        padding: 1rem;
    }
    li {
        line-height: 1.75;
    }
    a {
        color: $href;
        &:hover {
            text-decoration: underline;
        }
    }
}

// 項目列表
.text-ul,
.text-ol {
    margin-bottom: 1rem;
    padding: 1rem;
    ul,
    ol {
        list-style-position: inside;
    }
    li {
        line-height: 1.75;
    }
}

// 步驟
.text-step {
    line-height: 1.75;
    font-size: 1rem;
    color: $first;
    margin-bottom: 0 !important;
    &::before {
        counter-increment: number;
        content: "Step" counter(number) ".";
        margin-right: .5rem;
    }
}

// 程式碼
.text-code {
    position: relative;
    background-color: #EEE;
    margin-bottom: .25rem;
    &::before {
        content: '';
        display: block;
        line-height: 1.5rem;
        font-size: .875rem;
        color: #999;
        padding-left: .5rem;
    }
    &.is-html {
        &::before {
            content: 'HTML:';
        }
    }
    &.is-css {
        &::before {
            content: 'CSS:';
        }
    }
    &.is-scss {
        &::before {
            content: 'SCSS:';
        }
    }
    &.is-js {
        &::before {
            content: 'JAVASCRIPT:';
        }
    }
    &.is-jq {
        &::before {
            content: 'JQUERY:';
        }
    }
    &.is-vue {
        &::before {
            content: 'VUE:';
        }
    }
    &.is-git {
        &::before {
            content: 'GIT:';
        }
    }
    &.is-bash {
        &::before {
            content: 'SHELL:';
        }
    }
    &.is-ex {
        &::before {
            content: 'EX:';
        }
    }
    &.is-ruby {
        &::before {
            content: 'RUBY:';
        }
    }
    &.is-php {
        &::before {
            content: 'PHP:';
        }
    }
}

.text-pre {
    line-height: 1.75;
    font-size: .875rem;
    margin: 0;
    padding: 0;
}

.text-copy {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    line-height: 1.5rem;
    font-size: .875rem;
    color: $first;
    background-color: $second;
    padding: 0 .5rem;
}

.text-codepen {
    position: relative;
    background-color: #EEE;
    // margin-top: 1rem;
    margin-bottom: .25rem;
    &::before {
        content: 'Codepen';
        display: block;
        line-height: 1.5rem;
        font-size: .875rem;
        color: #999;
        padding-left: .5rem;
    }
}